{% extends 'lexique/index.html' %} {% block lexique-content %}

<a href="/" title="Retour à la liste des lexiques" class="link-secondary fs-3">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
</a>


<div id="main">
    <h1>Le quizz {{lexique.langue1}} - {{lexique.langue2}}</h1>

    <div class="row">
        <div class="col">score : {{quizz.score}}/{{quizz.total}}</div>
    </div>

    <div class="row justify-content-center">
        <p col="3">{{quizz.question}} en {{quizz.langue_q}}</p>
    </div>

    <form
        class="row justify-content-center"
        hx-post="{{request.url}}"
        hx-target="#main"
        hx-trigger="submit"
        hx-vals="{{quizz.as_json}}"
    >
        {% if quizz.try_index > 3 %}
        <div class="alert alert-danger text-center" role="alert">
            La bonne réponse était <strong>{{quizz.reponse}}</strong>
            <input type="hidden" name="go_next" value="1" />
            <button type="submit" autofocus>continuer</button>
        </div>
        {% else %}
        <div class="input-group mb-3">
            <span class="input-group-text">réponse en {{quizz.langue_r}}</span>
            <input
                type="text"
                name="guess"
                class="form-control"
                placeholder="réponse"
                aria-label="reponse"
                required
                autocomplete="off"
                autofocus
            />
        </div>
        <p>essai {{quizz.try_index}}</p>
        {% endif %}
        <button type="submit" class="d-none"></button>
    </form>
</div>

{% endblock lexique-content %}
