{% for lexique in lexiques %}
<li id="lexique_{{lexique.id}}" class="list-group-item">
    <div class="row col fs-3">
        <div class="col">{{lexique.langue1}}</div>
        <div class="col">{{lexique.langue2}}</div>
        <div class="col">
            <a
                href="{{lexique.get_absolute_url}}"
                class="btn btn-success"
                data-bs-toggle="tooltip"
                title="Lexique"
            >
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </a>
            <a
                id="quizz_{{lexique.id}}"
                href="{%url 'quizz:main'  slug=lexique.slug%}"
                class="btn btn-warning"
                data-bs-toggle="tooltip"
                title="Quizz"
            >
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </a>
            <a
                id="print_{{lexique.id}}"
                href="{%url 'lexique:print'  slug=lexique.slug%}"
                class="btn btn-info"
                data-bs-toggle="tooltip"
                title="Impression"
            >
                <i class="fa fa-print" aria-hidden="true"></i>
            </a>
            <a
                id="delete_{{lexique.id}}"
                hx-get="{%url 'home:lexiques-delete'  slug=lexique.slug%}"
                hx-target="#lexique_{{lexique.id}}"
                hx-swap="outerHTML"
                hx-confirm="Confirmer la suppression de ce Lexique ? Attention la suppresion est définitive."
                class="btn btn-danger"
                data-bs-toggle="tooltip"
                title="Supprimer"
            >
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-2 fs-6 d-flex align-content-center">
            <span>{{lexique.lexon_set.count}} mots</span>
        </div>
    </div>
</li>

{% endfor %}
