<form
  class="row m-3 justify-content-center"
  hx-post="{{lexique.get_add_lexon_url}}"
  hx-trigger="submit"
  hx-swap="outerHTML"
>
</script>
  <div class="col-sm col-lg-4">
    {% include "lexique/lexon/input-field.html" with name="mot1" mot=mot1 placeholder=lexique.langue1%}
  </div>
  <div class="col-sm col-lg-4 mt-2 mt-sm-0">
    {% include "lexique/lexon/input-field.html" with name="mot2" mot=mot2 placeholder=lexique.langue2 %}
  </div>
  <button type="submit" class="d-none"></button>
 
 {% if message  %}
  <div id="messages" class="alert alert-success alert-dismissible fade show text-center" role="alert" >
  {{message.content}}
  <button id="alert_close" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  {% endif %}
</form  >
{% comment %} <body _="on every htmx:beforeSend in <button/> 
           tell it 
               toggle [@disabled='true'] until htmx:afterOnLoad">
    <form>
      <button hx-post="/echo/html">
        Post
      </button>
      <input type="hidden" name="html" value="Clicked!"/>
      <input type="hidden" name="delay" value="2"/>
    </form>
</body> {% endcomment %}