{% extends 'lexique/index.html' %} {% block lexique-content %}
<h1 class="text-center">LEXIQUES</h1>
<ul class="list-group" id="lexiques_list">
{% include "lexique/lexiques-list.html" %}
</ul
<h4>Ajouter un nouveau lexique :</h4>

<form hx-post="{% url 'lexique:lexiques-add' %}" hx-target="#lexiques_list"
_="on htmx:afterOnLoad  call me.reset()"
>
    <div class="row">
        <input type="text" name="langue1" class="col" required/>
        <input type="text" name="langue2" class="col" required />
        <div class="col">
            <button class="btn btn-info" type="submit">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>

{% endblock lexique-content %}
