{% extends 'home/index.html' %} {% block lexique-content %}

<a href="/" title="Retour à la liste des lexiques" class="link-secondary fs-3">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
</a>

<h1 class="text-center display-3">{{lexique|title}}</h1>

{% include "lexique/lexon/add-form.html" %} {% include "lexique/navbar.html" %}

<div class="row">
    <div class="col text-center fs-2">{{lexique.langue1|title}}</div>
    <div class="col text-center fs-2">{{lexique.langue2|title}}</div>
</div>

<ul
    id="lexique_list_entries"
    class="list-group"
    hx-get="{{lexique.get_list_lexon_url}}"
    hx-trigger="load, newLexiqueEntry from:body"
>
</ul>
{% endblock lexique-content %}
