<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Trier Par
                </a>

                <ul
                    class="dropdown-menu py-0 my-0"
                    aria-labelledby="navbar>Dropdown"
                >
                    <form
                        hx-get="{{lexique.get_list_lexon_url}}"
                        hx-trigger="change from:.btn-check"
                        hx-target="#lexique_list_entries"
                    >
                        <li class="dropdown-item p-0 m-0">
                            <input
                                type="radio"
                                class="btn-check"
                                name="order_by"
                                id="order_by_langue1"
                                value="mot1"
                                autocomplete="off"
                                checked
                            />
                            <label
                                class="btn btn-outline-secondary w-100 "
                                checked=""
                                for="order_by_langue1"
                                >{{lexique.langue1}}
                                <i
                                    class="fa fa-sort-alpha-down"
                                    aria-hidden="true"
                                ></i
                            ></label>
                        </li>
                        <li class="dropdown-item px-0 m-0">
                            <input
                                type="radio"
                                class="btn-check"
                                name="order_by"
                                id="order_by_langue2"
                                value="mot2"
                                autocomplete="off"
                            />
                            <label
                                class="btn btn-outline-secondary w-100 "
                                checked
                                for="order_by_langue2"
                                >{{lexique.langue2}}
                                <i
                                    class="fa fa-sort-alpha-down"
                                    aria-hidden="true"
                                ></i
                            ></label>
                        </li>
                        <li class="dropdown-item p-0 m-0">
                            <input
                                type="radio"
                                class="btn-check"
                                name="order_by"
                                id="order_by_created"
                                value="-created"
                                autocomplete="off"
                            />
                            <label
                                class="btn btn-outline-secondary w-100"
                                for="order_by_created"
                                >
                                <span>récents </span>
                                <i
                                   class="fas fa-calendar-alt "
                                    aria-hidden="true"
                                ></i
                            ></label>
                        </li>
                    </form>
                </ul>
            </li>
            <li class="nav-item">
                <form class="d-flex">
                    <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>
